/* Agregamos el scroll behavior smooth para que sea mas suave la navegacion */


/* scroll padding top para cuando apreta en el link tambien tome en cuenta la altura del navbar
 y no nos tape parte de la seccion*/

html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}


/*Header*/


/*Para efecto de glassmorphismo cuando abrimos menú hamburguesa y carrito*/


/*GLASMORPHISM:
    Básicamente, el concepto principal de esta tendencia es poner un fondo semitransparente que
    añade un difuminado al fondo del div en el que se aplique. En este caso, lo usamos para que al abrir el menú
    hamburguesa y el carrito lo demás de la página se vea borroso abajo de este div de clase overlay.
    */

.overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    /*Para que quede por encima del resto de las cosas*/
    /*Efecto de Glassmorphismo*/
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}


/*Toggle para el overlay (para que funcione unicamente cuando abrimos carrito o menu hamburguesa.
    Aclarar que funciona porque son elementos hermanos y overlay esta debajo de los dos inputs en el código.*/

.show-overlay {
    display: block;
}


/*CARRITO */


/*Despues de cambiar el carrito en el html y en styles.css , aplicamos una animación en hover*/

.cart-icon {
    transition: all 0.2s ease-out;
}

.cart-icon:hover {
    color: var(--electric);
    border-color: var(--electric);
    transition: all 0.2s ease-in;
}


/*Botones del carrito*/

.quantity-handler {
    transition: all 0.2s ease-in;
}

.quantity-handler:hover {
    cursor: pointer;
    background-color: var(--electric);
    transition: all 0.2s ease-in;
}


/*Botones comprar(carrito) y add(producto) y BENUCBER(Hero)*/

.btn-add,
.hero-info a {
    transition: all 0.2s ease-out;
}

.btn-add:hover,
.hero-info a:hover {
    background-color: var(--fire);
    transition: all 0.2s ease-in;
}


/* Boton ver mas de la sección de productos */

.btn-load {
    transition: all 0.2s ease-out;
    font-weight: 600;
    color: black
}

.btn-load:hover {
    background-color: #d86100;
    color: var(--text-white);
    transition: all 0.2s ease-in;
}


/* Animaciones */


/* Vamos a hacer animaciones de entrada a los elementos del hero y la seccion 2 (Las de la sección dos son
    por si la página se ve en una pantalla grande)*/


/* Animacion fade */


/*Funcionamiento: pasa de opacidad 0 a opacidad 1*/

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Animacion slide arriba */


/*Funcionamiento: Hacemos llegar al elemento animado desde abajo*/

@keyframes slide-up {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}


/* Animacion slide derecha */


/*Funcionamiento: Hacemos llegar al elemento animado desde la derecha*/

@keyframes slide-right {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}


/* Animacion al h1 */

.hero-info h1 {
    /*animacion - duración - animation-function*/
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}


/* Animacion al p */

.hero-info p {
    opacity: 0;
    /*animacion - duración - animation-function - forwards para que quede fijo al final.*/
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.3s;
}


/* Animacion al boton */

.hero-info a {
    opacity: 0;
    /*animacion - duración - animation-function - forwards para que quede fijo al final.*/
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.4s;
}


/* Animacion a la card del hero */

.hero-card {
    opacity: 0;
    /*animacion - duración - animation-function - forwards para que quede fijo al final.*/
    animation: fade 1s ease-in forwards, slide-right 1.3s ease-in-out;
    animation-delay: 0.2s;
}


/* Animacion Seccion 2 */

#info h2 {
    opacity: 0;
    /*animacion - duración - animation-function - forwards para que quede fijo al final.*/
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.4s;
}


/* Animacion cards seccion 2 */

.info-card {
    opacity: 0;
    /*animacion - duración - animation-function - forwards para que quede fijo al final.*/
    animation: fade 0.8s ease-in forwards, slide-up 1.3s ease-in-out;
}


/*Aplicamos un delay a las cards para que aparezcan en distintos momentos.*/

.info-card:nth-child(1) {
    animation-delay: 0.8s;
}

.info-card:nth-child(2) {
    animation-delay: 0.7s;
}

.info-card:nth-child(3) {
    animation-delay: 1s;
}


/*Microinteracción para las imagenes de las cards de productos*/

.product img {
    transition: all 0.3s linear;
}

.product img:hover {
    transform: scale(1.02);
    transition: all 0.3s linear;
}


/* Animacion typing */


/*Para la barrita de escritura ( efecto de titilar)*/

@keyframes blink {
    to {
        background: transparent;
        opacity: 0;
    }
}


/*Para que vaya entrando el texto*/

@keyframes typewriter {
    to {
        left: 100%;
    }
}


/*Le agregamos al span de la palabra Productos un position para acomodar el before y el after
    Además, le ponemos los mismos estilos que tiene el h1 correspondientes al color de la letra para que los tome*/

.mensaje_tienda .container-fluid span {
    position: relative;
    background: linear-gradient(to left, #d86100, #b95b39, #66301c);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}


/*Creamos y posicionamos el before y el after. Recordar que sin la propiedad content el before y after no funcionan*/

.mensaje_tienda .container-fluid span::before,
.mensaje_tienda .container-fluid span::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/*Esto es para que las letras vayan apareciendo de a poco
    Los steps tienen que coincidir con la cantidad de letras de la palabra Productos en este caso.*/

.mensaje_tienda .container-fluid span::before {
    /*animacion - duración - delay - animation-function - forwards para que se quede en el final*/
    animation: typewriter 1.2s 1.4s steps(32) forwards;
}


/*Esto es para la barrita de escritura y que la misma se vaya moviendo junto con las letras que aparecen.*/

.mensaje_tienda .container-fluid span::after {
    width: 0.1rem;
    background: linear-gradient(to left, #d86100, #b95b39, #66301c);
    animation: typewriter 1.2s 1.4s steps(32) forwards, blink 0.8s steps(32) infinite;
}

#rgbar {
    background: #ff0059;
    background: -webkit-linear-gradient( 45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 255, 1) 18%, rgba(0, 0, 255, 1) 30%, rgba(0, 240, 255, 1) 45%, rgba(0, 255, 0, 1) 63%, rgba(255, 255, 0, 1) 80%, rgba(255, 120, 0, 1) 90%, rgba(255, 0, 0, 1) 100%);
    background: -moz-linear-gradient( 45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 255, 1) 18%, rgba(0, 0, 255, 1) 30%, rgba(0, 240, 255, 1) 45%, rgba(0, 255, 0, 1) 63%, rgba(255, 255, 0, 1) 80%, rgba(255, 120, 0, 1) 90%, rgba(255, 0, 0, 1) 100%);
    background: -ms-linear-gradient( 45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 255, 1) 18%, rgba(0, 0, 255, 1) 30%, rgba(0, 240, 255, 1) 45%, rgba(0, 255, 0, 1) 63%, rgba(255, 255, 0, 1) 80%, rgba(255, 120, 0, 1) 90%, rgba(255, 0, 0, 1) 100%);
    background: -o-linear-gradient( 45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 255, 1) 18%, rgba(0, 0, 255, 1) 30%, rgba(0, 240, 255, 1) 45%, rgba(0, 255, 0, 1) 63%, rgba(255, 255, 0, 1) 80%, rgba(255, 120, 0, 1) 90%, rgba(255, 0, 0, 1) 100%);
    background: linear-gradient( 45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 255, 1) 18%, rgba(0, 0, 255, 1) 30%, rgba(0, 240, 255, 1) 45%, rgba(0, 255, 0, 1) 63%, rgba(255, 255, 0, 1) 80%, rgba(255, 120, 0, 1) 90%, rgba(255, 0, 0, 1) 100%);
    background-size: 400% 400%;
    animation: rgbBg 20s linear infinite;
    -moz-animation: rgbBg 20s linear infinite;
    -webkit-animation: rgbBg 20s linear infinite;
    height: 3px;
    position: relative;
    margin-top: 0px;
}

#rgbar.active {
    position: fixed;
    margin-top: 80px;
    width: 100%;
    z-index: 6
}

#rgbar.active {
    margin-top: 80px;
}

#rgbar::before {
    content: "";
    width: 0;
    transition: all ease .4s;
    -moz-transition: all ease .4s;
    -webkit-transition: all ease .4s
}

#rgbar.act::before {
    background: var(--accent);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: all ease .4s;
    -moz-transition: all ease .4s;
    -webkit-transition: all ease .4s
}

@keyframes rgbBg {
    0% {
        background-position: 400% 0%
    }
    100% {
        background-position: 0% 400%
    }
}

@-moz-keyframes rgbBg {
    0% {
        background-position: 400% 0%
    }
    100% {
        background-position: 0% 400%
    }
}

@-webkit-keyframes rgbBg {
    0% {
        background-position: 400% 0%
    }
    100% {
        background-position: 0% 400%
    }
}

:host,
 :root {
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}

:host,
 :root {
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
}

:host,
 :root {
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}

.fa,
.fa-brands,
.fa-duotone,
.fa-light,
.fa-regular,
.fa-solid,
.fa-thin,
.fab,
.fad,
.fal,
.far,
.fas,
.fat {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.fa-solid,
.fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900
}

.fa-cart-shopping:before,
.fa-shopping-cart:before {
    content: "\f07a";
}

.cart-icon:hover {
    color: var(--fire);
    border-color: var(--fire);
    transition: all 0.2s ease-in;
}

.hidden {
    display: none;
}

.disabled {
    background-color: var(--text-gray);
    color: white;
    cursor: not-allowed;
    border: none;
}

.disabled:hover {
    background-color: var(--text-gray);
    color: white;
    cursor: not-allowed;
    border: none;
}

.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    background-color: #d86100;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
}