/* INDEX Y QUIENES SOMOS CSS*/


/* QUIENES SOMOS */


/* FONTS */

@font-face {
    font-family: Calculative;
    src: url(Calculative.ttf);
}

@font-face {
    font-family: DMSaens;
    src: url(DMSans-Regular.ttf);
}

 :root {
    /* bg colors */
    --background: #ef8d3ec9;
    --bg-white: #fff;
    /* Text colors */
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
    /* Decoration */
    --fire: #ff6d00;
    --electric: #64d3ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-serif;
    text-decoration: none;
    list-style-type: none;
}


/* BODY Y HTML */

body {
    border-collapse: collapse;
    font-family: "Calculative", sans-serif;
    max-width: 1440px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1440px;
}


/* HEADER */

#main-header {
    padding: 0px 10px 0px 10px;
    transition: all ease .2s;
    -moz-transition: all ease .2s;
    -webkit-transition: all ease .2s;
    max-width: 1440px;
    background-color: #f19448be;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.container-3 {
    padding: 0 20px;
    display: flex;
}

.container-3 {
    max-width: 1440px;
}

.container-6 {
    display: flex;
    max-width: 1440px;
    background-color: #d86100;
    display: flex;
    place-content: center flex-end;
    flex-flow: column-reverse;
    align-items: flex-end;
    align-content: center;
    flex-direction: row;
}

#main-header .areas {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main-header .areas .area-logo {
    width: 50px;
    height: 50px;
}

#main-header .areas .area-search {
    position: relative;
    width: 70%;
}

.area {
    max-width: 100%;
}

.area-search {
    justify-content: center;
    text-align: end;
    align-items: center;
}

#main-header .areas .area-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 35%;
    padding-bottom: 10px;
}

#main-header .areas .area-items .item-rrss {
    align-items: center;
    display: flex;
}

#main-header .areas .area-items .item-rrss .info {
    color: #66301c;
    font-size: 12px;
    width: 20%;
    padding: 0 10px 0 0;
}

#main-header .areas .area-items .item-rrss .btn {
    padding: 0 0 0 10px;
    width: 60px;
    height: 80px;
}

#main-header .areas .area-items .item-user .box {
    position: relative;
    width: 80px;
    height: 80px;
}

.area-items-box {
    max-width: 100%;
    height: 60px;
    display: flex;
    text-align: right;
    position: relative;
    justify-content: flex-end;
    padding-right: 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

.area-items-box-2 {
    min-width: 474px;
    height: 40px;
    display: flex;
    text-align: right;
    position: relative;
    padding-right: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-around;
    align-items: center;
}

.item-rrss-box {
    min-width: 60px;
    display: flex;
    justify-content: space-around;
    padding: 3px;
    max-width: 50%;
}

.item-rrss-box a {
    text-decoration: none;
    font-size: 28px;
    width: 33px;
    height: 33px;
    text-align: center;
    transition: all .4s ease-in-out;
    justify-content: space-around;
}

.item-rrss-box a:hover {
    transform: scale(1.2);
}

.box {
    width: 33px;
}

.item-rrss-box-puntos {
    max-width: 10px;
    height: 33px;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.area-items-box img {
    width: 33px;
}

.item-rrss-box-puntos img {
    width: 3px;
    display: flex;
    text-align: start;
}

#prod-featured .item-1 .product-xs {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    margin: 0 0 10px;
    width: 250px;
    transition: all ease .2s;
    -moz-transition: all ease .2s;
    -webkit-transition: all ease .2s;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, .05), 0 3px 1px -2px rgba(0, 0, 0, .05), 0 1px 5px 0 rgba(0, 0, 0, .05);
    overflow: hidden;
    transition: .3s ease all;
}

.container-0 {
    background-color: #d86100;
    padding-top: 7px;
    font-weight: bold;
    height: 37px;
    width: 100%;
    max-width: 1440px;
    text-align: center;
    color: #66301c;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 18px;
}

.container-0 span {
    position: relative;
    background: linear-gradient(to left, #5e2c04, #69270f, #361306);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}


/* HEADER BAR */

.cont {
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
    padding-right: 15px;
    padding-left: 15px;
}

a:-webkit-any-link {
    text-decoration: none;
    text-decoration-line: none;
    cursor: pointer;
}

element.style {
    position: relative;
}

.mensaje_tienda .container-fluid {
    background: #ef8d3ec9;
    font-weight: bold;
    text-align: center;
    padding: 11px 0px;
    padding-right: 0, 5rem;
    padding-left: 0, 5rem;
    font-weight: 700;
    font-size: 19px;
    font-family: "Montserrat";
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    z-index: 4;
}

.main-slider {
    background-color: #ffffff;
}


/* ICONS REDES */

.logo-img {
    max-height: 80px;
    height: 80px;
    width: 200px;
    margin-top: 5px;
    margin-left: 10px;
}

.cart .item .image .btn {
    width: 20%
}

.btn {
    width: 128px;
    height: 42px;
}

.btn {
    max-width: 100%;
}

.btn-1 .btn-2 {
    max-width: 80%;
}

.btn-1 .btn-2 {
    color: black;
}

.btn-1 .btn-2 {
    background: transparent;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    border-radius: 2px;
    height: 42px;
    padding: 0 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    font-size: 11px;
}

.cart-bubble {
    position: absolute;
    top: -8px;
    right: -8px;
    text-align: center;
    background: #bb5400;
    color: var(--text-white);
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
}

.button {
    cursor: pointer;
    font-family: "Montserrat";
}

.btn-social-media {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin: 0 0 0 5px;
    outline: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
}

.wishlist .contact {
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    height: 60px;
    max-width: 1440px;
}

.navbar-1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: left;
    height: 60px;
    max-width: 1440px;
    background-color: #f19448f0;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav-search {
    width: 600px;
    height: 100px;
    font-size: 14px;
    margin-left: 10%;
    display: flex;
    margin-top: 10%;
    padding: 2px 2px 2px 2px;
    justify-content: left;
    flex-direction: left;
}

.nav-search-input {
    width: 27rem;
    height: 35px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.nav-search-btn {
    padding: 4px 0px 4px 4px;
    background-color: #d86100;
    height: 35px;
    width: 35px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    text-align: end;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.nav-icon-search svg {
    color: #ffffff;
    width: 22px;
    height: 22px;
    flex-direction: center;
}

.nav-area {
    display: flex;
}


/* CARROUSEL*/

.carousel {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-width: 7200px;
    margin-top: 10px;
}

.carousel-images {
    display: flex;
    width: 500%;
    animation: carouselAnimation 5s infinite;
}

.carousel-images img {
    height: 380px;
}

@keyframes carouselAnimation {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #5c5b5b;
    border: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 5;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}


/* Container Dropdown */

.container-2 {
    max-width: 1440px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 16px;
    height: 40px;
    margin-top: 0px;
    cursor: pointer;
    z-index: 3;
}

.container-4 {
    max-width: 1440px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 16px;
    height: 60px;
    margin-top: 0px;
    cursor: pointer;
    z-index: 3;
}

.nav-categories {
    padding-left: 15px;
}

.nav-header .nav-header-plus {
    display: flex;
    justify-content: left;
    text-align: left;
}

.position .z-index {
    position: absolute;
    left: 20em;
    top: -25px;
    opacity: 0.9
}

.container-2 .navbar {
    background-color: #f19448f0;
    margin-top: 0px;
}

.container-4 .navbar {
    background-color: #f19448f0;
    margin-top: 0px;
}

.dropdown-menu {
    max-width: 100%;
    width: 300px;
    text-align: left;
    max-height: 500px;
}

ul ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.container-2 .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-2 .navbar ul li {
    display: inline-block;
}

.container-2 .navbar ul li a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: #361b11cc;
}

.container-2 .navbar ul li ul.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f19448be;
    border: 1px solid #f19448be;
}

.container-2 .navbar ul li:hover ul.dropdown-menu {
    display: block;
}

.container-2 .navbar ul li ul.dropdown-menu li {
    display: block;
}

.container-2 .navbar ul li ul.dropdown-menu li a {
    color: #4b2619;
    font-weight: bold;
}

.container-2 .navbar ul li ul.dropdown-menu li a:hover {
    background-color: #f17815;
}

.dropdown-item {
    font-size: 12px;
    line-height: 1px;
    letter-spacing: 2px;
    font-weight: normal;
}

.item-user {
    display: flex;
}

.item-user-2 {
    display: flex;
}

#main-header .areas .area-items .dropdown {
    width: auto;
}

#main-header .areas .area-items .dropdown {
    display: none;
    font-family: "Montserrat";
    right: 0;
    padding: 10px;
    position: absolute;
    top: 50px;
    width: 300px;
    z-index: 3;
}

#main-header .areas .area-items .dropdown {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin: 0 0 0 5px;
    position: relative;
}

#main-header .areas .area-items .dropdown .ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#main-header .areas .area-items .dropdown .ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.li {
    display: list-item;
}

#main-header .areas .area-items .dropdown .ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}


/* Productos */

.air {
    padding: 20px;
}

section {
    display: block;
}

.section-1 {
    display: flex;
    background-color: #FFEBC1;
    max-width: 1440px;
    max-height: 11000px;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container-5 {
    max-width: 1600px;
    background-color: #f19448f0;
}

.productos-h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-left: 10px;
}

.section-1 h2 {
    background: linear-gradient(to top, #f19448f0, #d86100);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}


/* button {
    appearance: auto;
    text-rendering: auto;
    color: #fff;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: #f19448be;
    margin: 0em;
    padding: 1px 6px;
} */

.item.product-xs a {
    background-color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.image {
    display: block;
    width: 100%;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #66301c;
}

.item.product-xs {
    width: 250px;
    height: 408px;
}

.image {
    width: 230px;
    height: 242px;
}

button {
    cursor: pointer;
}


/* FOOTER */

footer {
    margin-top: 0px;
    padding-top: 0px;
}

footer {
    color: #66301c;
    background-color: rgba(241, 148, 72, 0.745);
}

.footer_menu-inferior {
    display: flex;
    align-items: flex-start;
    height: 145px;
    width: 700px;
    color: #66301c;
    line-height: 2em;
}

.mediosDePago {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    height: 210x;
    width: 1000px;
    font-size: 20px;
    margin-right: auto;
    margin-left: 0px;
    font-weight: bold;
    padding-bottom: 10px;
}

.container-fluid-1 {
    width: 100%;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-right: auto;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    margin-left: 0px;
}

.medios-de-pago-img {
    width: 45px;
    height: 30px;
}

.establecimiento {
    font-size: 14px;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

.ft {
    font-size: 20px;
    color: #7c3a22;
    font-weight: bold;
}

.ft-1 {
    font-size: 18px;
    color: #7c3a22;
    font-weight: normal;
    margin-left: 0px;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

h3,
.h3 {
    font-size: 20px;
    font-weight: 700;
}

.footer__brown {
    max-width: 1440px;
    max-height: 420px;
    background-color: #ff9843be;
    background: linear-gradient(to bottom, #f19448be, #d86100);
    line-height: 100%;
    color: #66301c;
}

.footer-menu {
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
    font-family: "Montserrat";
}

.footer-menu-item {
    display: block;
}

.footer-menu-link {
    display: block;
}


/* COPYRIGHT */

.text-center {
    background-color: #d86100;
    text-align: center;
    position: center;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-bottom: 0px;
    max-width: 1440px;
    font-size: 14px;
    color: #000000;
}

.dropdown-opener {
    border-radius: none;
    border-bottom: none;
    border-color: none;
    border-style: none;
}

.text-with
/* Quienes somos CSS*/

.container-5 {
    width: 100%;
    min-height: 1000px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    padding: 0px 10px 0px 0px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.about-us {
    padding-top: 7px;
    font-weight: normal;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 22px;
    color: #66301c;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7af73;
    font-family: Sans-serif;
    display: flex;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


/* Products Section */

#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    align-content: space-between;
    flex-wrap: nowrap
}

#products h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
    color: #66301c;
}


/* categories */

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.category {
    background: #b95b39;
    border: none;
    padding: 10px 15px;
    color: var(--bg-white);
    border-radius: 10px;
    cursor: pointer;
}

.active {
    background: #b44922;
}


/* products */

.products-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 0;
    max-width: 1200px;
    max-height: 11000px;
}

.product {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
    -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    text-align: center;
    width: 225px;
    height: 400px;
}

.product img {
    max-width: 200px;
    max-height: 200px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.product-top,
.product-mid,
.product-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-top h3 {
    font-size: 16px;
    font-weight: 600;
}

.product-top p,
.product-user p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-gray);
}

.product-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-mid span {
    font-weight: 800;
}

.product-offer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.offer-time {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
}

.offer-time img {
    width: 20px;
}

.btn-add,
.btn-buy {
    cursor: pointer;
    padding: 10px 35px;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    transition: 0.3s all ease-out;
}

.btn-delete {
    cursor: pointer;
    padding: 10px 35px;
    color: #b95b39;
    border-radius: 10px;
    border: none;
    transition: 0.3s all ease-out;
}

.btn-buy,
.btn-add {
    background: #d86100;
}

.btn-buy,
.btn-delete {
    width: 100%;
}

.btn-delete {
    border: 2px solid #d86100;
    background-color: transparent;
}

.btn-delete:hover {
    background: #d86100;
    transition: 0.3s all ease-in;
    color: white;
}

.btn-load {
    background: none;
    border: 1px solid #d86100a6;
    padding: 10px 35px;
    color: var(--bg-white);
    border-radius: 10px;
    cursor: pointer;
}

.active {
    background: #d86100;
}

.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}


/* categories */

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


/*carrito*/

.indicator__dropdown {
    top: 100%;
    position: absolute;
    visibility: hidden;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotateX(60deg);
    transform: rotateX(60deg);
    opacity: 0;
    -webkit-transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/*OCULTAR BARRA DE SCROLL DEL CARRITO*/

.cart::-webkit-scrollbar {
    display: none;
}

.cart h2 {
    color: #66301c;
    font-size: 20px;
    font-weight: 600;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #2323234e;
    padding: 20px;
    border: 1px solid #ff9843be;
    border-radius: 10px;
}

.cart-item img {
    height: 65px;
    width: 65px;
}

.item-info {
    display: flex;
    flex-direction: column;
    min-width: 110px;
}

.item-title {
    color: #66301c;
    font-weight: 600;
    font-size: 14px;
}

.item-price {
    color: #66301c;
    font-weight: 300;
    font-size: 12px;
}

.item-bid {
    background: linear-gradient(to right, #f19448f0, #d86100);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 16px;
    font-weight: 800;
}

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    color: #66301c;
    font-weight: 400;
}

.item-quantity {
    color: #66301c;
}

.up {
    border: 1px solid #66301c;
}

.down {
    background-color: #ffd29f;
    border: 1px solid #66301c;
}

.divider {
    margin-top: 20px;
    border: 0.5px solid #d86100;
    width: 100%;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.cart-total p {
    color: #66301c;
    font-weight: 700;
}

.cart-total span {
    color: #66301c;
    font-weight: 400;
    font-size: 18px;
}

a:link {
    color: #66301c;
    text-decoration: none;
    text-decoration-line: none;
}

a:visited {
    color: #66301c;
    text-decoration: none;
    text-decoration-line: none;
}

a:focus {
    border-bottom: 1px solid;
    text-decoration: none;
    text-decoration-line: none;
}

a:hover {
    border-bottom: 1px solid;
    text-decoration: none;
    text-decoration-line: none;
}

a:active {
    color: #d86100;
    text-decoration: none;
    text-decoration-line: none;
}

a {
    outline: none;
    text-decoration: none !important;
    padding: 0px 4px 0px 0px;
    text-decoration-line: none;
}

.nav-link {
    text-decoration: none;
    text-decoration-line: none;
}

.area-items-box .item-rrss-box a {
    text-decoration: none;
    line-height: none;
    text-decoration-line: none;
}

.container-footer {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

._menu-inferior {
    list-style: none;
    padding: 0;
}

.footer_menu-inferior li {
    display: inline-block;
    margin-right: 20px;
}

.container-footer {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.footer_menu-inferior {
    list-style: none;
    padding: 0;
}

.footer_menu-inferior li {
    display: inline-block;
    margin-right: 20px;
}

.product-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    width: 232px;
    height: 400px;
}

.hidden {
    display: none;
}

.disabled {
    background-color: var(--text-gray);
    color: white;
    cursor: not-allowed;
    border: none;
}

.disabled:hover {
    background-color: var(--text-gray);
    color: white;
    cursor: not-allowed;
    border: none;
}

.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    background-color: #d86100;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
}

header {
    background: linear-gradient(to bottom, #d86100, #f19448be);
}

footer .contact-info {
    color: #501f0e;
    font-weight: bold;
}

.img-user {
    width: 29px;
    height: 29px;
    margin-top: 20%;
}

.open-menu {
    display: flex;
}

.cart-icon {
    font-weight: 600;
    border-radius: 10px;
    font-size: 25px;
    margin-right: 1rem;
    color: var(--text-white);
    cursor: pointer;
    position: relative;
}


/*Toggle del carro*/

.open-cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
    color: var(--text-gray);
    font-size: 14px;
}

.cart {
    position: absolute;
    top: -67px;
    right: 62px;
    padding: 50px 30px;
    background: linear-gradient(to top, #fff6e2, #FFEBC1);
    border-top: 1px solid #6d3100;
    border-left: 1px solid #6d3100;
    border-bottom: 1px solid #6d3100;
    color: #6d3100;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    min-width: 375px;
    max-height: 778px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    z-index: 2;
}

.cart {
    border-radius: 0;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.cart {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/*OCULTAR BARRA DE SCROLL DEL CARRITO*/

.cart::-webkit-scrollbar {
    display: none;
}

.fa-solid,
.fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.hidden {
    display: none;
}

.disabled {
    background-color: var(--text-gray);
    color: white;
    cursor: not-allowed;
    border: none;
}

.disabled:hover {
    background-color: var(--text-gray);
    color: white;
    cursor: not-allowed;
    border: none;
}

.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    background-color: #d86100;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
}

.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}


/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container-4 .quienesomos {
    height: 70px;
}